.c-label {
    --input-border: var(--clr-neutral-400);
    --input-focus: var(--clr-primary-400);
    --input-size: 2.5rem;
    --input-padding-right: 2.5rem;
    --input-padding-left: 1rem;
}

:where(.c-label) {
    display: block;
}

:where(.c-input) {
    position: relative;
    padding-block: 0 .0625rem;
    padding-right: var(--input-padding-right);
    padding-left: var(--parent-padding-left, var(--input-padding-left));
    width: 100%;
    height: var(--input-size);
    font-size: initial;
    appearance: none;
    border-radius: 0.375rem;
    border: 1px solid var(--input-border);
    background: inherit;
    transition: background-color, border-color, color, fill, stroke, opacity, box-shadow, outline-offset, transform, 80ms;
}

.c-input {
    --outline-size: 2px;
    --outline-color: var(--input-focus);
}


:where(.c-input__wrapper-style) {
    width: 100%;
    position: relative;
}

:where(.c-input__left-addon, .c-input__right-addon) {
    position: absolute;
    top: 0;
    width: 2.5rem;
    height: 2.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    pointer-events: none;
}

:where(.c-input__left-addon) {
    left: 0;
}

.c-input__left-addon~label {
    --parent-padding-left: 2.5rem;
}

:where(.c-input__right-addon) {
    right: 0;
}