.c-panel {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

:where(.c-section) {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

.c-navigation {
    --transitions: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

:where(.c-navigation) {
    padding: 0px;
    margin: 1.2rem 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style: none
}

:where(.c-navigation__item) {
    align-self: center;
}

:where(.c-navigation__section) {
    margin: 0 0.35rem;
    height: 0.86rem;
    width: 0.75rem;
    border-radius: 100%;
    background-color: transparent;
    border: 1px solid var(--clr-neutral-300);
    cursor: pointer;
    appearance: none;
    transition: var(--transitions);
}

:where(.c-navigation__section[aria-selected="true"]) {
    color: var(--clr-primary-400);
    border: 1px solid var(--clr-primary-400);
    background-color: rgba(25, 118, 210, 0.12);
}


:where(.c-navigation__button) {
    position: relative;
    padding: 0.25rem 0.5rem;
    height: 2rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 0.25rem;
    border: 1px solid var(--clr-neutral-300);
    cursor: pointer;
    appearance: none;
    transition: var(--transitions);
}

:where(.c-navigation__button:active) {
    color: var(--clr-primary-400);
    background-color: rgba(25, 118, 210, 0.12);
}

:where(.c-navigation__button:disabled) {
    opacity: 0.55;
    pointer-events: none;
    cursor: default;
    border: 1px solid var(--clr-neutral-400);
    stroke: var(--clr-neutral-900);
}