/* Document
 * ========================================================================== */

/**
 * Add border box sizing in all browsers (opinionated).
 */

*,
::before,
::after {
  box-sizing: border-box;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/*
  * Allow percentage-based heights in the application
  */
:where(html, body) {
  height: 100%;
}

:where(body) {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Sections
  * ========================================================================== */

/**
  * Remove default margin
  */

:where(body, h1, h2, h3, h4, p, figure, blockquote, dl, dd) {
  margin: 0;
}

/* Grouping content
  * ========================================================================== */

/**
  * Remove the margin on nested lists in Chrome, Edge,Safari, Edge 18- and IE.
  */

:where(dl dl, dl ol, dl ul, ol dl, ul dl, ol ol, ol ul, ul ol, ul ul) {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */

:where(ul[role="list"], ol[role="list"]) {
  list-style: none;
}

/* Text-level semantics
  * ========================================================================== */

/**
  * Add the correct font weight in Chrome, Edge, and Safari.
  */

:where(b, strong) {
  font-weight: bolder;
}

/*
  * Avoid text overflows
  */
:where(p, h1, h2, h3, h4, h5, h6, a) {
  overflow-wrap: break-word;
}

/* Embedded content
  * ========================================================================== */

/* Make images easier to work with */
:where(img, picture) {
  max-width: 100%;
  display: block;
}

/* Forms
  * ========================================================================== */

/**
  * Correct the inability to style buttons in iOS and Safari.
  */

:where(button, [type="button"], [type="reset"], [type="submit"]) {
  -webkit-appearance: button;
}

/* Inherit fonts for inputs and buttons */
:where(input, button, textarea, select) {
  font: inherit;
}

/**
  * 1. Change the inconsistent appearance in all browsers (opinionated).
  */

:where(fieldset) {
  border: 1px solid currentColor;
  /* 1 */
}

/**
  * Remove the inheritance of text transform in Firefox.
  */

:where(select) {
  text-transform: none;
}

/**
  * Correct the text style of placeholders in Chrome, Edge, and Safari.
  */

:where(::placeholder) {
  color: inherit;
}

/* Accessibility
  * ========================================================================== */

/**
  * Change the cursor on busy elements in all browsers (opinionated).
  */

:where([aria-busy="true"]) {
  cursor: progress;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
