:where(.c-list-item__icon) {
    width: 1em;
    height: 1em;
    display: inline;
    line-height: 1em;
    flex-shrink: 0;
    margin-inline-end: 0.5rem;
    vertical-align: text-bottom;
}

.c-List {
    list-style: none;
}