/** 
  Genera un margin-top a todos los elementos hijos directos 
  excepto el primero, para generar espaciado entre elementos.
**/

.u-flow>*+* {
  margin-block-start: var(--flow-space, 1em);
}


/** 
  Utilities for controlling how an individual grid item is aligned along its inline axis.
**/

.u-justify-self-auto {
  justify-self: auto;
}

.u-justify-self-start {
  justify-self: start;
}

.u-justify-self-end {
  justify-self: end;
}

.u-justify-self-center {
  justify-self: center;
}

.u-justify-self-stretch {
  justify-self: stretch;
}

/** 
  Utilities for controlling how flex and grid items are positioned along a container's cross axis.
**/

.u-self-auto {
  align-self: auto;
}

.u-self-start {
  align-self: flex-start;
}

.u-self-end {
  align-self: flex-end;
}

.u-self-center {
  align-self: center;
}

/** 
  -----------------------
**/
.u-justify-c-stretch {
  justify-content: stretch;
}

.u-justify-c-baseline {
  justify-content: baseline;
}

.u-justify-c-auto {
  justify-content: auto;
}

.u-justify-c-start {
  justify-content: flex-start;
}

.u-justify-c-end {
  justify-content: flex-end;
}

.u-justify-c-center {
  justify-content: center;
}

