/**
    Utilities for controlling how a replaced element's content should be resized.
**/

.u-object-contain {
    object-fit: contain;
}

.u-object-cover {
    object-fit: cover;
}

.u-object-fill {
    object-fit: fill;
}

.u-object-none {
    object-fit: none;
}

.u-object-scale-down {
    object-fit: scale-down;
}