/**
    Utilities for controlling the stack order of an element.
**/

.u-z-0 {
    z-index: 0;
}

.u-z-10 {
    z-index: 10;
}

.u-z-20 {
    z-index: 20;
}

.u-z-30 {
    z-index: 30;
}

.u-z-40 {
    z-index: 40;
}

.u-z-50 {
    z-index: 50;
}

.u-z-auto {
    z-index: auto;
}