:where(.c-audio) {
    margin: 0 auto;
    width: 20%;
    min-width: 250px;
    max-width: 13.625rem;
    height: 2.5rem;
    display: block;
}

.c-audio::-webkit-media-controls-panel {
    border-radius: 1rem;
    background: rgb(225, 225, 230);
}

:where(.c-audio--small) {
    max-width: 12.5rem;
    height: 2rem;
}

.c-audio--small::-webkit-media-controls-time-remaining-display,
.c-audio--small::-webkit-media-controls-current-time-display {
    font-size: 0.625rem;
}

:where(.c-audio[data-a11y='true']) {
    display: none;
}

html[data-audio='true'] .c-audio[data-a11y='true'] {
    display: block;
}

.c-audio--hidden {
    display: none;
}

:where(.c-button) {
    position: relative;
    width: 3rem;
    height: 3rem;
    transition: background-color 0.25s ease, transform 0.25s ease;
}

:where(.c-button:hover) {
    background-color: var(--clr-primary-400);
}

.c-button::before,
.c-button::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1.0625rem;
    height: 1.1875rem;
    background-color: var(--clr-common-white-100);
    transform-origin: 50% 100%;
    transition: clip-path 0.5s ease;
}

.is-button-paused::before {
    clip-path: polygon(0 0, 100% 50%, 100% 50%, 0 100%);
}

.is-button-paused::after {
    clip-path: polygon(65% 100%, 100% 100%, 100% 100%, 65% 100%);
}

.is-button-playing::before {
    clip-path: polygon(0 0, 35% 0, 35% 100%, 0 100%);
}

.is-button-playing::after {
    clip-path: polygon(65% 0, 100% 0, 100% 100%, 65% 100%);
}