label {
    --select-border: var(--clr-neutral-400);
    --select-focus: var(--clr-primary-400);
    --select-arrow: var(--select-border);
    display: block;
}

:where(.c-select-wrapper) {
    display: grid;
    grid-template-areas: "select";
    align-items: center;
}

:where(.c-select) {
    padding: 0 2.1875rem .0625rem 1rem;
    margin: 0;
    width: 100%;
    height: 2.5rem;
    font-family: inherit;
    font-size: initial;
    line-height: 1.1;
    outline: none;
    appearance: none;
    border-radius: 0.375rem;
    border: 1px solid var(--select-border);
    background-color: var(--clr-common-white-100);
    transition: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, 300ms;
}

// Remove dropdown arrow in IE10 & IE11
:where(.c-select::-ms-expand) {
    display: none;
}

.c-select,
.c-select__icon {
    grid-area: select;
}

:where(.c-select__icon) {
    --icon-size: 1.634em;
    fill: var(--select-arrow);
    justify-self: end;
}

:where(.c-select:focus) {
    border-color: var(--select-focus);
    box-shadow: var(--select-focus) 0px 0px 0px 1px;
}

:where(.c-select[disabled]) {
    cursor: not-allowed;
    background-color: var(--clr-neutral-100);
}