:where(.c-layout) {
    position: fixed;
    inset: 0;
    opacity: 0.8;
    z-index: 100;
    background: -webkit-radial-gradient(center,
            ellipse farthest-corner,
            rgba(0, 0, 0, 0.4) 0,
            rgba(0, 0, 0, 0.9) 100%);
}

.c-tour-content {
    --speed-movement: 0s;
    transition: transform var(--speed-movement) ease-in-out;
}

:where(.c-tour-content) {
    position: absolute;
    padding: 0.625rem;
    min-width: 12.5rem;
    max-width: max(20vw, 18.75rem);
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    border-radius: 0.1875rem;
    background-color: var(--clr-common-white-100);
    box-shadow: 0 0 0 0.125rem var(--clr-primary-500) inset;
    z-index: 101;
}


:where(.c-tour-progress) {
    height: 0.625rem;
    margin: 0.625rem 0 0.3125rem 0;
    border-radius: 0.25rem;
    background-color: var(--clr-neutral-200);
    overflow: hidden;
}

:where(.c-tour-progress-bar) {
    float: left;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: var(--clr-primary-500);
    transform: scaleX(0%);
    transform-origin: left;
    transition: transform .750s ease-in-out;
}

:where(.c-tour-button-container) {
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

:where(.c-tour-button-container button) {
    width: 2.75rem;
    height: 2.75rem;
    display: grid;
    place-content: center;
    color: var(--clr-neutral-200);
    background-color: var(--clr-primary-500);
    border-radius: 50%;
    border: 0.125rem solid transparent;
}

:where(.c-tour-button-container button:hover),
:where(.c-tour-button-container button:focus) {
    background-color: var(--clr-primary-800);
}

:where(.c-tour-button-container button:focus) {
    outline: 0.125rem solid var(--clr-neutral-200);
    outline-offset: -0.3125rem;
}

:where(.c-tour-button-container button[disabled]) {
    color: var(--clr-common-black-100);
    background-color: var(--clr-neutral-300)
}

:where(.c-tour-button-container button[disabled]:hover) {
    cursor: not-allowed;
}

:where(.c-tour-button-container span) {
    width: revert;
    height: revert;
    font-size: 1.3rem;
}

:where(.c-tour-help) {
    --animate-delay: 0.2s;
    position: absolute;
    border-radius: 4px;
    border: 1px solid var(--clr-neutral-200);
    box-shadow: 0 2px 15px rgb(0 0 0 / 40%);
    transition: all 0.3s ease-out;
    z-index: 9999998;
}

:where(.c-tour-number) {
    position: absolute;
    top: -1rem;
    right: -1rem;
    width: 1.6rem;
    height: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--clr-common-white-100);
    text-shadow: 1px 1px 1px rgb(0 0 0 / 30%);
    border: 3px solid var(--clr-common-white-100);
    border-radius: 50%;
    background-color: var(--clr-primary-500);
    box-shadow: 0 2px 5px rgb(0 0 0 / 40%);
}