// Color variables
.interpreter {
  --interpreter-btn-bg: var(--clr-primary-700);

  --interpreter-btn-bg-video: var(--clr-primary-100);
  --interpreter-btn-hover: var(--clr-primary-600);
  --interpreter-btn-clr-video: var(--clr-primary-700);

  --interpreter-video-bg: var(--clr-primary-700);
  --interpreter-video-progress: var(--clr-complementary-700);
}

// Interpreter
.interpreter {
  position: fixed;
  right: -2em;
  top: 20%;
  z-index: 102;
  padding: .5rem;
}

.interpreter:focus-within,
.interpreter:hover {
  right: 0;
}

.interpreter-active {
  display: flex;
  flex-direction: row;
  right: 0;
}

.interpreter-active .interpreter-btn:hover {
  color: var(--clr-neutral-100);
  background-color: var(--interpreter-btn-hover);
}

// Buttons
.interpreter-btn {
  display: flex;
  height: 2rem;
  font-size: .625rem;
  cursor: pointer;
  border: 2px solid transparent;
  color: var(--clr-neutral-100);
  background-color: var(--interpreter-btn-bg);
}

.interpreter-btn--close {
  border-radius: 0 0 0 .625rem;
}

.interpreter-btn--video {
  color: var(--interpreter-btn-clr-video);
  background-color: var(--interpreter-btn-bg-video);
  border: 1px solid var(--interpreter-btn-clr-video);
}

.interpreter-btn svg:not([class]) {
  width: 1.7rem;
  height: 1.7rem;
  fill: currentColor;
  forced-color-adjust: auto;
}

.interpreter-btn-disable {
  align-items: center;
  padding: 1rem 6px;
  border-radius: .3125rem;
}

.interpreter-active .interpreter-btn-switch {
  height: 37px;
  border-radius: .625rem 0 0 0;
}

.interpreter-btn-switch-svg {
  width: var(--interpreter-btn-svg-size, 1.7rem);
  height: var(--interpreter-btn-svg-size, 1.7rem);
  fill: currentColor;
  forced-color-adjust: auto;
}

.interpreter-dropdown {
  width: auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

/* Dropdown Content (Hidden by Default) */
.interpreter-dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  width: 60px;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
  top: 100px;
  left: 30px;
}

.interpreter-dropdown-content span,
.interpreter-active .interpreter-dropdown-content span {
  font-size: 1.875rem;
}

.interpreter-active .interpreter-dropdown-content {
  left: 0px !important;
  top: 30px;
}

/* Links inside the dropdown */
.interpreter-dropdown-content button {
  color: var(--clr-complementary-900);
  text-decoration: none;
  display: flex;
  cursor: pointer;
  width: 100%;
  background-color: var(--clr-primary-800);
  border-radius: 5px;
  border: 1px groove var(--clr-complementary-900);
}

/* Show the dropdown menu on hover */
.interpreter-btndrop:focus+.interpreter-dropdown-content,
.interpreter-btndrop:not(.close):hover+.interpreter-dropdown-content,
.interpreter-dropdown-content:hover,
.interpreter-dropdown:focus-within .interpreter-btn-switch+.interpreter-dropdown-content {
  display: block;
}

.hide {
  display: none !important;
}

.image-Video {
  width: 4rem;
}

// Video
.c-vid-container figcaption {
  margin-top: 1.5em;
  text-align: center;
}

.c-vid-container {
  background-color: var(--clr-common-white-100);
  min-height: 165px;
}

.c-vid {
  position: relative;
  display: grid;
  color: var(--clr-common-white-100);
  box-sizing: border-box;
  padding: .625rem;
  border: .0625rem solid var(--clr-complementary-900);
  margin: 0 auto;
  min-height: 165px;
  border-radius: 0px 10px 10px 0px !important;
}

.c-vid svg {
  color: currentColor;
  forced-color-adjust: auto;
}

.c-vid video {
  outline: none;
  height: 100%;
  width: 100%;
}

.c-vid-controls {
  display: grid;
  align-items: center;
  grid-template-columns: 2.75rem auto;
  max-height: 2.5rem;
  max-width: 100%;
  grid-gap: .5rem;
  padding: 0 .2rem;
  background-color: var(--interpreter-video-bg);
}

.c-vid-controls button {
  display: grid;
  place-items: center;
  padding: 0.2em;
  height: 100%;
  width: auto;
  color: var(--clr-common-white-100);
  border: .125rem solid transparent;
  background-color: transparent;
  cursor: pointer;
  border-radius: 0.5em;
}

.c-vid-controls button:hover,
.c-vid-controls button:focus {
  background-color: var(--interpreter-btn-hover);
}

.c-vid-controls button:focus {
  outline: .0625rem solid whitesmoke;
  outline-offset: -4px;
}

.c-vid-controls svg {
  height: 1.5625rem;
  width: auto;
  fill: currentColor;
}

.c-vid-controls-text {
  margin: 0;
}

.c-vid-controls-text {
  width: 100%;
  font-variant-numeric: tabular-nums;
  display: none;
}

.progress {
  display: flex;
  flex-basis: 100%;
  height: 6px;
  transition: height 0.3s;
  background: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  position: relative;
}

.flex {
  display: flex;
  align-items: center;
  display: none;
}

.progress-bar {
  width: 50%;
  background-color: var(--interpreter-video-progress);
  flex: 0;
  flex-basis: 0%;
}

.c-vid-controls-volume {
  display: grid;
  grid-template-columns: auto 1fr;
}

.c-vid-controls-volume label {
  display: grid;
}

.c-vid-controls-volume label:focus-within {
  background-color: var(--clr-complementary-900);
}

.c-vid-controls-volume input {
  background-color: var(--clr-common-white-100);
}

.c-vid-controls-volume input:focus {
  outline: 2px solid transparent;
}

.c-vid-controls-volume-item[type='range'] {
  width: 100%;
  accent-color: var(--interpreter-video-progress);
}

.c-vid video::cue {
  visibility: visible;
  color: var(--clr-common-white-100);
  background-color: var(--tertiaryColor);
}

.c-vid video.no-captions::cue {
  visibility: hidden;
}

[display='true'] {
  display: block;
}

[display='false'] {
  display: none;
}

.gap {
  gap: 0;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}