.col {
    position: relative;
    float: left;
    margin: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: 100%;
    min-height: 1px;
}

@media all and (min-width: 320px) {
    .col[xs="1"] {
        width: 8.3333333333%;
        flex: 0 0 8.3333333333%;
    }

    .col[xs="2"] {
        width: 16.6666666667%;
        flex: 0 0 16.6666666667%;
    }

    .col[xs="3"] {
        width: 25%;
        flex: 0 0 25%;
    }

    .col[xs="4"] {
        width: 33.3333333333%;
        flex: 0 0 33.3333333333%;
    }

    .col[xs="5"] {
        width: 41.6666666667%;
        flex: 0 0 41.6666666667%;
    }

    .col[xs="6"] {
        width: 50%;
        flex: 0 0 50%;
    }

    .col[xs="7"] {
        width: 58.3333333333%;
        flex: 0 0 58.3333333333%;
    }

    .col[xs="8"] {
        width: 66.6666666667%;
        flex: 0 0 66.6666666667%;
    }

    .col[xs="9"] {
        width: 75%;
        flex: 0 0 75%;
    }

    .col[xs="10"] {
        width: 83.3333333333%;
        flex: 0 0 83.3333333333%;
    }

    .col[xs="11"] {
        width: 91.6666666667%;
        flex: 0 0 91.6666666667%;
    }

    .col[xs="12"] {
        width: 100%;
        flex: 0 0 100%;
    }
}

@media all and (min-width: 480px) {
    .col[xm="1"] {
        width: 8.3333333333%;
        flex: 0 0 8.3333333333%;
    }

    .col[xm="2"] {
        width: 16.6666666667%;
        flex: 0 0 16.6666666667%;
    }

    .col[xm="3"] {
        width: 25%;
        flex: 0 0 25%;
    }

    .col[xm="4"] {
        width: 33.3333333333%;
        flex: 0 0 33.3333333333%;
    }

    .col[xm="5"] {
        width: 41.6666666667%;
        flex: 0 0 41.6666666667%;
    }

    .col[xm="6"] {
        width: 50%;
        flex: 0 0 50%;
    }

    .col[xm="7"] {
        width: 58.3333333333%;
        flex: 0 0 58.3333333333%;
    }

    .col[xm="8"] {
        width: 66.6666666667%;
        flex: 0 0 66.6666666667%;
    }

    .col[xm="9"] {
        width: 75%;
        flex: 0 0 75%;
    }

    .col[xm="10"] {
        width: 83.3333333333%;
        flex: 0 0 83.3333333333%;
    }

    .col[xm="11"] {
        width: 91.6666666667%;
        flex: 0 0 91.6666666667%;
    }

    .col[xm="12"] {
        width: 100%;
        flex: 0 0 100%;
    }
}

@media all and (min-width: 600px) {
    .col[sm="1"] {
        width: 8.3333333333%;
        flex: 0 0 8.3333333333%;
    }

    .col[sm="2"] {
        width: 16.6666666667%;
        flex: 0 0 16.6666666667%;
    }

    .col[sm="3"] {
        width: 25%;
        flex: 0 0 25%;
    }

    .col[sm="4"] {
        width: 33.3333333333%;
        flex: 0 0 33.3333333333%;
    }

    .col[sm="5"] {
        width: 41.6666666667%;
        flex: 0 0 41.6666666667%;
    }

    .col[sm="6"] {
        width: 50%;
        flex: 0 0 50%;
    }

    .col[sm="7"] {
        width: 58.3333333333%;
        flex: 0 0 58.3333333333%;
    }

    .col[sm="8"] {
        width: 66.6666666667%;
        flex: 0 0 66.6666666667%;
    }

    .col[sm="9"] {
        width: 75%;
        flex: 0 0 75%;
    }

    .col[sm="10"] {
        width: 83.3333333333%;
        flex: 0 0 83.3333333333%;
    }

    .col[sm="11"] {
        width: 91.6666666667%;
        flex: 0 0 91.6666666667%;
    }

    .col[sm="12"] {
        width: 100%;
        flex: 0 0 100%;
    }
}

@media all and (min-width: 768px) {
    .col[mm="1"] {
        width: 8.3333333333%;
        flex: 0 0 8.3333333333%;
    }

    .col[mm="2"] {
        width: 16.6666666667%;
        flex: 0 0 16.6666666667%;
    }

    .col[mm="3"] {
        width: 25%;
        flex: 0 0 25%;
    }

    .col[mm="4"] {
        width: 33.3333333333%;
        flex: 0 0 33.3333333333%;
    }

    .col[mm="5"] {
        width: 41.6666666667%;
        flex: 0 0 41.6666666667%;
    }

    .col[mm="6"] {
        width: 50%;
        flex: 0 0 50%;
    }

    .col[mm="7"] {
        width: 58.3333333333%;
        flex: 0 0 58.3333333333%;
    }

    .col[mm="8"] {
        width: 66.6666666667%;
        flex: 0 0 66.6666666667%;
    }

    .col[mm="9"] {
        width: 75%;
        flex: 0 0 75%;
    }

    .col[mm="10"] {
        width: 83.3333333333%;
        flex: 0 0 83.3333333333%;
    }

    .col[mm="11"] {
        width: 91.6666666667%;
        flex: 0 0 91.6666666667%;
    }

    .col[mm="12"] {
        width: 100%;
        flex: 0 0 100%;
    }
}

@media all and (min-width: 992px) {
    .col[md="1"] {
        width: 8.3333333333%;
        flex: 0 0 8.3333333333%;
    }

    .col[md="2"] {
        width: 16.6666666667%;
        flex: 0 0 16.6666666667%;
    }

    .col[md="3"] {
        width: 25%;
        flex: 0 0 25%;
    }

    .col[md="4"] {
        width: 33.3333333333%;
        flex: 0 0 33.3333333333%;
    }

    .col[md="5"] {
        width: 41.6666666667%;
        flex: 0 0 41.6666666667%;
    }

    .col[md="6"] {
        width: 50%;
        flex: 0 0 50%;
    }

    .col[md="7"] {
        width: 58.3333333333%;
        flex: 0 0 58.3333333333%;
    }

    .col[md="8"] {
        width: 66.6666666667%;
        flex: 0 0 66.6666666667%;
    }

    .col[md="9"] {
        width: 75%;
        flex: 0 0 75%;
    }

    .col[md="10"] {
        width: 83.3333333333%;
        flex: 0 0 83.3333333333%;
    }

    .col[md="11"] {
        width: 91.6666666667%;
        flex: 0 0 91.6666666667%;
    }

    .col[md="12"] {
        width: 100%;
        flex: 0 0 100%;
    }
}

@media all and (min-width: 1024px) {
    .col[lg="1"] {
        width: 8.3333333333%;
        flex: 0 0 8.3333333333%;
    }

    .col[lg="2"] {
        width: 16.6666666667%;
        flex: 0 0 16.6666666667%;
    }

    .col[lg="3"] {
        width: 25%;
        flex: 0 0 25%;
    }

    .col[lg="4"] {
        width: 33.3333333333%;
        flex: 0 0 33.3333333333%;
    }

    .col[lg="5"] {
        width: 41.6666666667%;
        flex: 0 0 41.6666666667%;
    }

    .col[lg="6"] {
        width: 50%;
        flex: 0 0 50%;
    }

    .col[lg="7"] {
        width: 58.3333333333%;
        flex: 0 0 58.3333333333%;
    }

    .col[lg="8"] {
        width: 66.6666666667%;
        flex: 0 0 66.6666666667%;
    }

    .col[lg="9"] {
        width: 75%;
        flex: 0 0 75%;
    }

    .col[lg="10"] {
        width: 83.3333333333%;
        flex: 0 0 83.3333333333%;
    }

    .col[lg="11"] {
        width: 91.6666666667%;
        flex: 0 0 91.6666666667%;
    }

    .col[lg="12"] {
        width: 100%;
        flex: 0 0 100%;
    }
}

@media all and (min-width: 1280px) {
    .col[hd="1"] {
        width: 8.3333333333%;
        flex: 0 0 8.3333333333%;
    }

    .col[hd="2"] {
        width: 16.6666666667%;
        flex: 0 0 16.6666666667%;
    }

    .col[hd="3"] {
        width: 25%;
        flex: 0 0 25%;
    }

    .col[hd="4"] {
        width: 33.3333333333%;
        flex: 0 0 33.3333333333%;
    }

    .col[hd="5"] {
        width: 41.6666666667%;
        flex: 0 0 41.6666666667%;
    }

    .col[hd="6"] {
        width: 50%;
        flex: 0 0 50%;
    }

    .col[hd="7"] {
        width: 58.3333333333%;
        flex: 0 0 58.3333333333%;
    }

    .col[hd="8"] {
        width: 66.6666666667%;
        flex: 0 0 66.6666666667%;
    }

    .col[hd="9"] {
        width: 75%;
        flex: 0 0 75%;
    }

    .col[hd="10"] {
        width: 83.3333333333%;
        flex: 0 0 83.3333333333%;
    }

    .col[hd="11"] {
        width: 91.6666666667%;
        flex: 0 0 91.6666666667%;
    }

    .col[hd="12"] {
        width: 100%;
        flex: 0 0 100%;
    }
}