$colors: (
  primary: ("100": hsl(220, 62%, 94%),
    "200": hsl(220, 62%, 83%),
    "300": hsl(220, 62%, 72%),
    "400": hsl(220, 62%, 61%),
    "500": hsl(220, 62%, 50%),
    "600": hsl(220, 62%, 39%),
    "700": hsl(220, 62%, 28%),
    "800": hsl(220, 62%, 17%),
    "900": hsl(220, 62%, 6%),
  ),
  complementary: ("100": hsl(282, 62%, 94%),
    "200": hsl(282, 62%, 83%),
    "300": hsl(282, 62%, 72%),
    "400": hsl(282, 62%, 61%),
    "500": hsl(282, 62%, 50%),
    "600": hsl(282, 62%, 39%),
    "700": hsl(282, 62%, 28%),
    "800": hsl(282, 62%, 17%),
    "900": hsl(282, 62%, 6%),
  ),
  info: ("100": hsl(190, 62%, 94%),
    "200": hsl(190, 62%, 83%),
    "300": hsl(190, 62%, 72%),
    "400": hsl(190, 62%, 61%),
    "500": hsl(190, 62%, 50%),
    "600": hsl(190, 62%, 39%),
    "700": hsl(190, 62%, 28%),
    "800": hsl(190, 62%, 17%),
    "900": hsl(190, 62%, 6%),
  ),
  neutral: ("100": hsl(229, 0%, 94%),
    "200": hsl(229, 0%, 83%),
    "300": hsl(229, 0%, 72%),
    "400": hsl(229, 0%, 61%),
    "500": hsl(229, 0%, 50%),
    "600": hsl(229, 0%, 39%),
    "700": hsl(229, 0%, 28%),
    "800": hsl(229, 0%, 17%),
    "900": hsl(229, 0%, 6%),
  ),
  warning: ("100": hsl(34, 62%, 94%),
    "200": hsl(34, 62%, 83%),
    "300": hsl(34, 62%, 72%),
    "400": hsl(34, 62%, 61%),
    "500": hsl(34, 62%, 50%),
    "600": hsl(34, 62%, 39%),
    "700": hsl(34, 62%, 28%),
    "800": hsl(34, 62%, 17%),
    "900": hsl(34, 62%, 6%),
  ),
  success: ("100": hsl(145, 62%, 94%),
    "200": hsl(145, 62%, 83%),
    "300": hsl(145, 62%, 72%),
    "400": hsl(145, 62%, 61%),
    "500": hsl(145, 62%, 50%),
    "600": hsl(145, 62%, 39%),
    "700": hsl(145, 62%, 28%),
    "800": hsl(145, 62%, 17%),
    "900": hsl(145, 62%, 6%),
  ),
  error: ("100": hsl(360, 62%, 94%),
    "200": hsl(360, 62%, 83%),
    "300": hsl(360, 62%, 72%),
    "400": hsl(360, 62%, 61%),
    "500": hsl(360, 62%, 50%),
    "600": hsl(360, 62%, 39%),
    "700": hsl(360, 62%, 28%),
    "800": hsl(360, 62%, 17%),
    "900": hsl(360, 62%, 6%),
  ),
  common-black: ('100': hsl(0, 0%, 0%)),
  common-white: ('100': hsl(0, 0%, 100%))
);