$font-sizes: (
  "200": clamp(0.8rem, 0.15vw + 0.77rem, 0.89rem),
  "300": clamp(1rem, 0.31vw + 0.94rem, 1.19rem),
  "400": clamp(1.25rem, 0.55vw + 1.14rem, 1.58rem),
  "500": clamp(1.56rem, 0.91vw + 1.38rem, 2.11rem),
  "600": clamp(1.95rem, 1.43vw + 1.67rem, 2.81rem),
);
