:where(.c-accordion__item) {
    border-top: 1px solid var(--clr-neutral-200);
    margin-top: 2px;
}

:where(.c-accordion__item:last-of-type) {
    border-bottom: 1px solid var(--clr-neutral-200);
}

:where(.c-accordion__button) {
    --outline-color: var(--clr-primary-400);
    width: 100%;
    padding: 0.5rem 1rem;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    cursor: pointer;
    border: 0px;
}

:where(.c-accordion__button:focus) {
    box-shadow: var(--clr-primary-400) 0px 0px 0px 2px;
}

:where(.c-accordion__button:hover) {
    background-color: rgb(0, 0, 0, 0.04);
}

.c-accordion__panel {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 500ms;
}

.c-accordion__panel[aria-hidden="false"] {
    grid-template-rows: 1fr;
}

.c-accordion__panel[aria-hidden="true"]>div {
    padding: 0
}

.c-accordion__panel>div {
    overflow: hidden;
    transition: padding 500ms;
}

:where(.c-accordion__panel-content) {
    padding: 0.5rem 1rem 1rem;
}